<!DOCTYPE html>
<html>
<head>
    <title>Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <form action="/submit" method="post">
        <label for="name">Recipe Title:</label>
        <input type="text" id="name" name="name"><br><br>
        
        <button type="submit">Submit</button>
    </form>

    <h2>Recipe List</h2>
    <ul>
        {% for recipe in recipes %}
            <li>{{ recipe[0]}}: {{recipe[1] }}</li>
        {% endfor %}
    </ul>
</body>
</html>